<%= form_for(@record, url: "/records/#{@record.id}/update") do |f| %>
<%= render 'shared/errors',object: @record %>
<%= f.text_area :comment, :placeholder => "今日のトレーニングはどうだった？" %>
<%= f.fields_for :event do |i| %>
<%= render 'event_fields', f: i %>
<% end %>

<div class="links eventAdd">
    <%= link_to_add_association f, :event do %>
        <%=icon("fas","plus") %>種目を追加
    <% end %>
</div>
<div class="register_picture">
    <%= f.label :picture, class: "label" do %>
    <%= icon("far", "image") %>画像を追加
    <%= f.file_field :picture, class: "register_picture_button" %>
    <% end %>
</div>
<%= f.submit "記録する" %>
<% end %>
