<div class="nested-fields event_fields">
    <dl class="event_item">
        <dt class="event_item_title">種目</dt>
        <dd class="event_item_data">
            <%= f.collection_select :name, MenuName.all, :name, :name,:prompt => "種目を選択する" %>
            <%= f.select :part,[["大胸筋","大胸筋"],["広背筋","広背筋"],["腹直筋","腹直筋"],["大腿四頭筋","大腿四頭筋"],["上腕三頭筋","上腕三頭筋"],["上腕二頭筋","上腕二頭筋"]],:prompt => "部位を選択" %>
            <%= f.fields_for :set_datum do |i| %>
            <table>
                <tr>
                    <th></th>
                    <td>重量</td>
                    <td>レップ数</td>
                    <td>セット数</td>
                </tr>
                <%= render 'set_datum_fields', f: i %>
            </table>
            <% end %>
            <div class="links">
                <%= link_to_add_association "セットを追加", f, :set_datum %>
            </div>
        </dd>
    </dl>

</div>