<li class="record listItemDecorated">
    <div class="title">
        <%= event.created_at %>
    </div>
    <div class="event">
        <dl>
            <dt><%= event.name %></dt>
            <dd>
                <ol class="set_list">
                    <% event.set_datum.each do |set| %>
                    <li><%= weightInt(set.weight) %>kg <%= set.rep %>レップ <%= set.set %>セット</li>
                    <% end %>
                </ol>
            </dd>
        </dl>
    </div>
    <div class="button">
        <%=link_to "この日の記録を見る", "/records/#{event.training_record_id}" %>
    </div>
</li>
