<li class="record">
    <dl class="title">
        <dt class="username">
            <% user_id = record.user_id %>
            <% user = User.find_by(id: user_id) %>
            <% if user.picture? %>
            <%=link_to "/users/#{user_id}" do %>
            <%= image_tag user.picture.url, class:"user_image" %>
            <%= user.name %>
            <% end %>
            <% else %>
            <%= link_to "#{user.name}","/users/#{user_id}" %>
            <% end %>
        </dt>
        <dd class="date"><%= time_ago_in_words(record.created_at) %>前</dd>
    </dl>
    <div class="comment">
        <%= record.comment %>
    </div>
    <ol>
        <% record.event.each do |item| %>
        <li>
            <dl>
                <dt><%= link_to "#{item.name}", "/records/event/#{item.name}" %></dt>
                <dd>
                    <% item.set_datum.each do |set| %>
                    <ul class="set_list">
                        <li><%= set.weight %>kg</li>
                        <li><%= set.rep %>レップ</li>
                        <li><%= set.set %>セット</li>
                    </ul>
                    <% end %>
                </dd>
            </dl>
        </li>
        <% end %>
    </ol>
    <%= image_tag record.picture.url if record.picture? %>
    <%=link_to "/records/#{record.id}" do %>
    <%= icon("fas", "caret-square-down") %>
    <% end %>
    <% if logged_in %>
    <% if current_user.id == record.user_id %>
    <%= link_to "/records/#{record.id}", method: :delete, data: { confirm: "本当に削除しますか？"} do %>
    <%= icon("fas", "trash") %>
    <% end %>
    <% end %>
    <% end %>
</li>