    <div>
      <dl class="nested-fields set_datum_fields row">
        <dd>
          <%= f.number_field :weight, placeholder: "kg", "step"=>"0.5" %>
        </dd>
        <dd>
          <%= f.number_field :rep, placeholder: "(例)8", "pattern"=>"\\d*" %>
        </dd>
        <dd>
          <%= f.number_field :set, placeholder: "(例)3", "pattern"=>"\\d*" %>
        </dd>
        <dd class="mini">
          <%= f.check_box :main, { class: 'main' } %>
        </dd>
        <dd class="mini">
          <%= f.check_box :renewal, { class: 'new' } %>
        </dd>
        <dd class="removeIcon">
          <%= link_to_remove_association f do %>
          <%= icon('fas', 'minus-circle') %>
          <% end %>
        </dd>
        </tr>
    </div>
