<div class="nested-fields">
    <dl>
        <dt>
            <%= f.label :weight, "重量" %>
        </dt>
        <dd>
            <%= f.number_field :weight %>kg
        </dd>
    </dl>
    <dl>
        <dt>
            <%= f.label :rep, "回数" %>
        </dt>
        <dd>
            <%= f.number_field :rep %>レップ
        </dd>
    </dl>
    <dl>
        <dt>
            <%= f.label :set, "セット数" %>
        </dt>
        <dd>
            <%= f.number_field :set %>セット
        </dd>
    </dl>
</div>