<h1>記録一覧</h1>
<p>今日、記録をつけましたか？</p>
<p>今日行った種目の名前がないですか？ここから登録できます！</p>
<%= form_for(@menuname, :url => {:controller => :training_record, :action => :register}) do |a| %>
<%= a.text_field :name %>
<%= a.submit "種目を登録する" %>
<% end %>
<h2>記録する</h2>
<% #記録フォーム　%>
<div class="record_form">
    <%= form_for(@record,:url => {:controller => :training_record, :action => :create}) do |f| %>
        <%= f.fields_for :event do |i| %>
        <dl>
            <dt><%= i.label :part, "対象部位" %></dt>
            <dd>
                <%= i.select :part,[["大胸筋","大胸筋"],["広背筋","広背筋"],["腹直筋","腹直筋"],["大腿四頭筋","大腿四頭筋"],["上腕三頭筋","上腕三頭筋"],["上腕二頭筋","上腕二頭筋"]],:prompt => "部位を選択" %>
            </dd>
        </dl>
        <dl>
            <dt>
                <%= i.label :name, "種目" %>
            </dt>
            <dd>
                <%= i.collection_select :name, MenuName.all, :name, :name,:prompt => "種目名を選択する" %>
            </dd>
        </dl>
        <dl>
            <dt>
                <%= i.label :weight, "重量" %>
            </dt>
            <dd>
                <%= i.number_field :weight %>kg
            </dd>
        </dl>
        <dl>
            <dt>
                <%= i.label :rep, "回数" %>
            </dt>
            <dd>
                <%= i.number_field :rep %>レップ
            </dd>
        </dl>
        <dl>
            <dt>
                <%= i.label :set, "セット数" %>
            </dt>
            <dd>
                <%= i.number_field :set %>セット
            </dd>
        </dl>
        <% end %>
    <dl>
        <dt>
            <%= f.label :comment, "コメント" %>
        </dt>
        <dd>
            <%= f.text_area :comment %>
        </dd>
    </dl>
    <dl>
        <dt>画像</dt>
        <dd>
            <%= f.file_field :picture %>
        </dd>
    </dl>
    <%= f.submit "記録する" %>
    <% end %>
</div>

<% #記録一覧　%>
<div class="record_index">
    <ul>
        <%= render partial: 'record', collection: @records %>
    </ul>
</div>