<h1>記録する</h1>


<div class="record-wrap">
    <%= form_for(@record, :url => {:controller => :training_record, :action => :create}) do |f| %>
    <%= f.fields_for :event do |i| %>
    <dl>
        <dt>
            <%= i.label :name, "種目" %>
        </dt>
        <dd>
            <%= i.text_field :name %>
        </dd>
    </dl>
    <dl>
        <dt>
            <%= i.label :weight, "重量" %>
        </dt>
        <dd>
            <%= i.text_field :weight %>
        </dd>
    </dl>
    <dl>
        <dt>
            <%= i.label :rep, "回数" %>
        </dt>
        <dd>
            <%= i.text_field :rep %>
        </dd>
    </dl>
    <dl>
        <dt>
            <%= i.label :set, "セット数" %>
        </dt>
        <dd>
            <%= i.text_field :set %>
        </dd>
    </dl>
    <% end %>
    <dl>
        <dt>
            <%= f.label :comment, "コメント" %>
        </dt>
        <dd>
            <%= f.text_field :comment %>
        </dd>
    </dl>
    <dl>
        <dt>画像</dt>
        <dd>
            <%= f.file_field :picture %>
        </dd>
    </dl>
    <%= f.submit "記録する" %>
    <% end %>
</div>