<h1>記録一覧</h1>
<p>今日、記録をつけましたか？</p>
<p>
    変数@recordの中身
</p>
<p>
    <%= @record %>
</p>
<%= link_to '記録する', '/post' %>
<ul>
    <%= @records.each do |record| %>
    <li>
        <dl>
            <dt>日にち</dt>
            <dd><%= record.created_at.strftime("%Y-%m-%d %H:%M") %></dd>
        </dl>
        <dl>
            <dt>種目</dt>
            <dd><%= record.event.name %></dd>
        </dl>
        <dl>
            <dt>重量</dt>
            <dd><%= record.event.weight %>kg</dd>
        </dl>
        <dl>
            <dt>セット数</dt>
            <dd><%= record.event.set %>セット</dd>
        </dl>
        <dl>
            <dt>コメント</dt>
            <dd><%= record.comment %></dd>
        </dl>
        <%= image_tag record.picture.url if record.picture? %>
    </li>
    <% end%>
</ul>