<% provide(:title, "ログイン") %>
<div class="login wrapper">
  <div class="row">
    <%= form_for(:session, url: login_path) do |f| %>
    <dl>
      <dt>メールアドレス</dt>
      <dd><%= f.email_field :email, class: 'form-control' %></dd>
    </dl>
    <dl>
      <dt>パスワード</dt>
      <dd><%= f.password_field :password, class: 'form-control' %></dd>
    </dl>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <ul class="other">
      <li>
        <%=link_to "/test_login", method: :post do %>
        <%= icon("fas", "user-check") %>テストユーザーで簡単ログイン
        <% end %>
      </li>
      <li>
        <%= link_to '/users/new' do %>
        <%= icon("fas", "door-open") %>ユーザー登録する
        <% end %>
      </li>
    </ul>
  </div>
</div>
