<% provide(:title, "ログイン") %>
<div class="login wrapper">
  <div class="row">
    <%= form_for(:session, url: login_path) do |f| %>
    <dl>
      <dt>メールアドレス</dt>
      <dd><%= f.email_field :email, class: 'form-control' %></dd>
    </dl>
    <dl>
      <dt>パスワード</dt>
      <dd><%= f.password_field :password, class: 'form-control' %></dd>
    </dl>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <ul class="other">
      <li><%=link_to "テストユーザーはこちらからログイン", "/test_login", method: :post %></li>
      <li>RecoFitを使ってフィットネスをより楽しくしませんか？ <%= link_to "ユーザー登録する", '/users/new' %></li>
    </ul>
  </div>
</div>