<div class="userEdit">
    <div class="wrapper">
        <div class="user_info">
            <div class="profile">
                <%= form_with model: @user do |f| %>
                <%= render 'shared/errors',object: @user %>
                <div class="userImage">
                    <%= image_tag @user.picture.url if @user.picture? %>
                    <%= image_tag ('noicon.png') if @user.picture.blank? %>
                    <%= f.file_field :picture, class: "register_profile_image" %>
                </div>
                <div class="userName">
                    <%= f.text_field :name, class:'form-control' %>
                </div>
                <div class="userIntro">
                    <%= f.text_area :introduction, class:'form-control' %>
                </div>
                <%= f.submit "更新する" %>
                <% end %>
            </div>
        </div>
    </div>
</div>