<div class="wrapper">
    <div id="chart">
        <div v-show="loading">グラフを生成しています...</div>
        <div v-show="!loading" class="chatwrap">
            <button @click="showEl">グラフ表示</button>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <ul>
        <% @records.each do |record| %>
        <% nameitem = record.event.where(name: @name_params) %>
        <% nameitem.each do |item| %>
        <li>
            <dl>
                <dt><%= item.name %></dt>
                <% item.set_datum.each do |set| %>
                <dd>
                    <%= set.weight %> x <%= set.rep %> x <%= set.set %>
                </dd>
            </dl>
            <% end %>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>
<%= javascript_pack_tag 'ch' %>