<div class="wrapper">
    <%= javascript_pack_tag 'ch' %>
    <div id="chart">
        <navbar></navbar>
        <div v-for="record in records">
            {{ record.comment}}
            <div v-for="event in record.event">
                {{ event.name }}
                <div v-for="set in event.set">
                {{set.weight}} x
                {{set.rep}} x
                {{set.set}}
                </div>
            </div>
        </div>
    </div>
    <ul>
        <% @records.each do |record| %>
        <% nameitem = record.event.where(name: @name_params) %>
        <% nameitem.each do |item| %>
        <li>
            <dl>
                <dt><%= item.name %></dt>
                <% item.set_datum.each do |set| %>
                <dd>
                    <%= set.weight %> x <%= set.rep %> x <%= set.set %>
                </dd>
            </dl>
            <% end %>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>