<div class="wrapper">
    <div class="userEvent">
        <h1><%=@user.name %>の<br class="sp"><%= @name_params %>の記録</h1>
        <div id="chart">
            <div v-show="loading">グラフを生成しています...</div>
            <div v-show="!loading" class="chatwrap">
                <button @click="displayGraph">グラフ表示</button>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <ul>
            <% @records.each do |record| %>
            <% record.event.each do |item| %>
            <li class="listItemDecorated">
                <dl>
                    <dt><%= item.created_at.to_s(:date) %>の記録</dt>
                    <dd>
                        <ol>
                            <% item.set_datum.each do |set| %>
                            <li><%= weightInt(set.weight) %> x <%= set.rep %> x <%= set.set %></li>
                            <% end %>
                        </ol>
                    </dd>
                </dl>
                <% end %>
                <%=link_to "親記録を見る", "/records/#{record.id}",class:"parentRecord" %>
            </li>
            <% end %>
        </ul>
    </div>
</div>
<%= javascript_pack_tag 'ch' %>
