<div class="user">
    <div class="wrapper">
        <div class="user_info">
            <h1>ユーザー基本情報</h1>
            <%= image_tag @user.picture.url if @user.picture? %>
            <%= image_tag ('noicon.png') if @user.picture.blank? %>
            <dl>
                <dt>
                    ユーザー名
                </dt>
                <dd>
                    <%= @user.name %>
                </dd>
            </dl>
            <dl>
                <dt>
                    メールアドレス
                </dt>
                <dd>
                    <%= @user.email %>
                </dd>
            </dl>
            <dl>
                <dt>
                    プロフィール
                </dt>
                <dd>
                    <%= @user.introduction if @user.introduction? %>
                </dd>
            </dl>
        </div>
        <div class="edit">
            <%=link_to "プロフィールを編集する", "/users/#{@user.id}/edit"%>
        </div>
        <div class="user_events">
            <h1><%= @user.name %>の記録を種目別で見る</h1>
            <ul>
                <% @records.each do |record| %>
                    <% record.event.each do |item| %>
                    <li><%=link_to "#{item.name}", "/users/#{@user.id}/events/#{item.name}" %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <div class="user_trainingrecord">
            <h1><%= @user.name %>の記録一覧</h1>
            <ul>
                <%= render partial: 'record', collection: @records %>
            </ul>
        </div>
    </div>
</div>