<div class="user">
    <div class="wrapper">
        <div class="user_info">
            <div class="profile">
                <div class="userImage">
                    <%= image_tag @user.picture.url if @user.picture? %>
                    <%= image_tag ('noicon.png') if @user.picture.blank? %>
                </div>
                <div class="userName">
                    <%= @user.name %>
                </div>
                <div class="userIntro">
                    <%= @user.introduction if @user.introduction? %>
                </div>
                <% if current_user.id === @user.id %>
                <div class="edit">
                    <%=link_to "/users/#{@user.id}/edit" do %>
                    <%= icon("fas", "edit") %>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
        <div id="userItems" class="userItems">
            <ul class="buttons">
                <li class="button" v-bind:class="{active : isActive === '1'}">
                    <label for="tab1">
                        <input type="radio" id="tab1" name="tab" value="1" v-model="isActive">
                        記録一覧
                    </label>
                </li>
                <li class="button" v-bind:class="{active : isActive === '2'}">
                    <label for="tab2">
                        <input type="radio" id="tab2" name="tab" value="2" v-model="isActive">種目別
                    </label>
                </li>
                <li class="button" v-bind:class="{active : isActive === '3'}">
                    <label for="tab3">
                        <input type="radio" id="tab3" name="tab" value="3" v-model="isActive">
                        その他
                    </label>
                </li>
            </ul>
            <ul class="items">
                <li v-if="isActive === '1'">
                    <ul class="recordIndex">
                        <%= render partial: 'shared/record', collection: @records %>
                    </ul>
                </li>
                <li v-else-if="isActive === '2'">
                    <ul class="recordEvent">
                        <% @users_event.each do |event| %>
                        <li><%=link_to "#{event.name}", "/users/events/?user_id=#{@user.id}&event_name=#{event.name}" %></li>
                        <% end %>
                    </ul>
                </li>
                <li v-else-if="isActive === '3'">
                    <p>その他</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'tab.js' %>