<div class="wrapper">
    <div class="row">
        <div class="left-wrap">
            <div class="points">
                <ul>
                    <%
                @points = [
                    "トレーニングを記録しよう",
                    "SNSのように記録をシェア",
                    "グラフで成長がわかりやすい",
                    "種目別に成長がわかる"
                ]
                %>
                    <% @points.each do |point| %>
                    <li>
                        <%=icon("fas","star") %>
                        <%=point %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div class="img-wrap">
                <%=image_tag 'top_image.jpg' %>
            </div>
        </div>
        <div class="right-wrap">
            <div class="logo-wrap">
                <%= image_tag 'app_icon.png' %>RecoFit
            </div>
            <div class="button-wrap">
                <%=link_to'ユーザー登録', new_user_path ,class: 'button register' %>
                <%=link_to'ログイン','/login' ,class:'button login'%>
                <ul>
                    <li>
                        <%=link_to "/test_login", method: :post,class:'testUser' do %>
                        <%= icon("fas", "user-check") %>テストユーザーログイン
                        <% end %>
                    </li>
                    <li>
                        <%=link_to '/records' ,class:'noLogin' do %>
                        <%= icon("fas", "clipboard-list") %>とりあえずみんなの記録を見てみる
                        <% end %>
                    </li>
                    <li>
                        <%=link_to '/about', class: 'aboutLink' do %>
                        <%= icon("fas", "info-circle") %>RecoFitについて
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
