<div class="wrapper">
  <div class="userEvent">
    <h1><%=@user.name %>の<br class="sp"><%= @name_params %>の記録</h1>
    <div id="chart">
      <div v-show="loading">グラフを生成しています...</div>
      <div v-show="!loading" class="chatwrap">
        <strong>表示中のデータ : {{graphVar}}</strong>
        <div class="chart">
          <canvas id="myChart"></canvas>
        </div>
        <div class="selectArea">
          <span>表示するデータを選択:</span>
          <select name="graphVar" id="" v-model="graphVar">
            <option>全て</option>
            <option>メインセット</option>
            <option>記録更新</option>
          </select>
        </div>
      </div>
    </div>
    <ul>
      <% @records.each do |record| %>
      <% nameitem = record.event.where(name: @name_params).distinct %>
      <% nameitem.each do |item| %>
      <li class="listItemDecorated">
        <dl>
          <dt><%= item.created_at.to_s(:date) %>の記録</dt>
          <dd>
            <ol>
              <% item.set_datum.each do |set| %>
              <li>
                <%= weight_change(set.weight) %> x <%= set.rep %> x <%= set.set %>
                <% if set.main %>
                <span class="mainMark"><%= icon('fas', 'star') %></span>
                <% end %>
                <% if set.renewal %>
                <span class="renewalMark"><%= icon('fas', 'smile-wink') %></span>
                <% end %>
              </li>
              <% end %>
            </ol>
          </dd>
        </dl>
        <% end %>
        <%=link_to training_record_path(record),class:"parentRecord" do %>
        <%=icon("fas","external-link-alt") %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
