<!DOCTYPE html>
<html>

<head>
  <title>RecoFit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag('favicon.ico') %>
</head>

<body>
  <header>
    <div class="sp_sidebar">
      <%= icon("fas", "bars") %>
    </div>
    <%=link_to "/", target: "_blank" do %>
    <%= image_tag "app_icon.png", class:"logo" %>
    RecoFit
    <% end %>
    <% if logged_in %>
    <div class="user_area menu_right">
    <% if current_user.picture.present? %>
      <%= image_tag current_user.picture.url, class: "user_image" %>
      <% else %>
      <%= image_tag 'noicon.png',class: "user_image" %>
      <% end %>
      <%= icon("fas","angle-down") %>
      <ul class="dropdown">
        <li><%= current_user.name %></li>
        <li><%= link_to "ユーザーページ", "/users/#{current_user.id}" %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, class:"header_button logout" %></li>
        <li>aaa</li>
        <li>aaa</li>
      </ul>
    </div>
    <% else %>
    <ul class="row menu_right">
      <li>
        <%= link_to "新規登録", "/users/new" %>
      </li>
      <li><%= link_to "ログイン", "/login" %></li>
    </ul>
    <% end %>
  </header>
  <%# サイドメニュー %>
  <% if logged_in %>
  <div id="side_menu">
    <ul>
      <li>
        <%= link_to "/records" do %>
        <%= icon("fas", "book-open") %>
        記録一覧
        <% end %>
      </li>
      <li>
        <%= link_to "/records/events/?user_id=#{current_user.id}" do %>
        <%= icon("fas", "clipboard-list") %>
        種目別記録
        <% end %>
      </li>
      <li>
        <%= link_to "/users/" do %>
        <%= icon("fas", "users") %>
        ユーザー
        <% end %>
      </li>
      <li>
        <%= link_to "/records" do %>
        <%= icon("fas", "info-circle") %>
        RecoFitについて
        <% end %>
      </li>
    </ul>
  </div>
  <% end %>
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div id="contents">
  <%= yield %>

  </div>
</body>

</html>
