<!DOCTYPE html>
<html>

<head>
  <title>RecoFit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag('favicon.ico') %>
</head>
<body class="home">
    <header class="home">
    
    </header>
    <%= yield %>
</body>